*, ::after, ::before{
  box-sizing: border-box;
}
h1,h2,h3,h4,h5{
  margin: 0;
}
body{
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  background:linear-gradient(90deg, #ffffff 0%,#ffe5ea 20%,#dbe5ff 34%,#ffebc3 51%,#ffebf4 72%,#ffffff 100% );
}